<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopfix</title>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style rel="stylesheet">
      * {
		  font-family: 'Didact Gothic', sans-serif;
			padding: 0px;
		}
          p.success_message {
                background-color: #f0f0f0;
                padding: 15px;
            }

    </style>
</head>
<body>
<p class="success_message">Registered Successfully</p>
<p id="name" th:text="${user.name}"></p>
<p id="email" th:text="${user.email}"></p>
</body>
</html>